body {
    background-image: linear-gradient( #615dad,  #ffc8da);
    min-height: 100vh;
}

h1,
p,
a {
    color: white;
    font-family: 'Lobster', cursive;
letter-spacing: 1px; 

}

p,
a {
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
.piskvorky { 
background-color: #283e50;
border-radius: 5px;
width: 350px;
height: 500px;
margin-top: 110px;
position: relative;
left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center ;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.text {
padding: 20px;
display: flex;
text-align: center;

}

.buttons {
display: flex;
flex-direction: column;

}

.button-pravidla {
background-color:  #1fcca4;
padding-top: 15px;
padding-bottom: 15px;
border: none;
}

.button-zacatek {
background-color: #0197f6 ;
padding-top: 15px;
padding-bottom: 15px;
border-width: 1px 0 0 0;
}


.button-pravidla:hover {
    background-color:  #1cbb96;
}

.button-zacatek:hover {
    background-color:  #0090e9;
}


img {
    border-radius: 5px 5px 0 0;
}

a {
    text-decoration: none;
    width: 350px;
    flex-grow: 1;
    display: block; 
}


