h1,
p,
a {
    color: white;
}

.container {
    background-image: linear-gradient( #615dad,  #ffc8da);
}

.piskvorky { 
background-color: #283e50;
width: 400px;
border-radius: 5px;
position: relative;
left: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center ;
}

.title {
    display: flex;
    justify-content: center;
}

.text {
padding: 20px;
display: flex;

}